Rep_1 RCDATA "Mjegy_sa_ho_ka.fr3"
Rep_0 RCDATA "MjegyKUJ_nelkul.fr3"
Rep_2 RCDATA "Mjegy_SAHO_Dupla.fr3"
Rep_3 RCDATA "Mjegy_Anthera.fr3"
umwelt RCDATA "Mjegy_UMWELT.fr3"
umwelt_paros RCDATA "Mjegy_UMWELT_paros.fr3"
